body {
    font-family: 'Arial';
    background-color: pink;
    
    color: black;
}

h1 {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
}


ul>li {
    font-weight: bold;
}

h1+p {
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
}

ul li:hover {
    color: yellow;
}


ul li:nth-child(3) {
    background-color: red;
}


p:not(:first-of-type) {
    text-decoration: underline;
}

ul li::before {
    content: "";
}

a::after {
    content: "";
}

p::first-letter {
    font-size: 200%;
    color: green;
}